Scratch.ipynb
.ipynb_checkpoints/DML-checkpoint.ipynb
.ipynb_checkpoints/Database_Creation-checkpoint.ipynb
.ipynb_checkpoints/Scratch-checkpoint.ipynb
.ipynb_checkpoints/Database_Creation-checkpoint.ipynb
.ipynb_checkpoints/DDL-checkpoint.ipynb
.ipynb_checkpoints/Database_Creation-checkpoint.ipynb
.ipynb_checkpoints/Database_Creation-checkpoint.ipynb
.ipynb_checkpoints/Analysis-checkpoint.ipynb
